<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tencent.tmgp.nznh">

    <uses-sdk tools:overrideLibrary="com.tencent.sandboxbridge" />

    <!-- TODO GAME SDK接入必须权限模块 START -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 START -->
    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取设备WIFI连接状态 ，非必要，但建议保留-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 检测网络状态 ，非必要，但建议保留 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取日志 ，非必要，但建议保留 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Midas需要，向SD卡写入文件，非必要权限  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取机型信息和运营商信息，非必要权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />
    <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 END -->


    <!-- TODO GAME SDK设备指纹接入权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />


    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/demo_ic_launcher"
        android:label="JunS_YSDK"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.juns.channel.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|fontScale|touchscreen|uiMode|layoutDirection"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="mainAct" android:value="com.juns.sdk.demo.DemoActivity" />
        <activity
            android:name="com.juns.sdk.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <!-- JunS sdk components start -->

        <provider
            android:name="com.juns.sdk.core.sdk.update.JunSFileProvider"
            android:authorities="${applicationId}.JunSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/juns_update_path" />
        </provider>
        <!-- JunS sdk components end -->

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!-- ysdk start -->
        <service android:name="com.tencent.ysdk.module.sandbox.pipe.PipeService" >
            <intent-filter>
                <action android:name="com.tencent.ysdk.framework.communicate.PipeService" />
            </intent-filter>
        </service>

        <!-- TODO android:authorities中的${applicationId}要修改为游戏自身的包名 -->
        <provider
            android:name="com.tencent.ysdk.framework.YSDKInitProvider"
            android:authorities="${applicationId}.ysdk.ysdkinitprovider"
            android:exported="false" />

        <activity
            android:name="com.tencent.ysdk.module.user.impl.freelogin.FreeLoginInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >

            <!-- TODO GAME 这里为解析外部传入的登录信息，为云设备或者沙盒游戏宿主所调用,这里tencentysdk${applicationId}中tencentysdk的后缀是应用包名，如tencentysdkcom.tencent.tmgp.yybtestsdk -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencentysdk${applicationId}" />
            </intent-filter>
        </activity>

        <!-- TODO GAME SDK接入YSDK初始化配置 START -->
        <!-- TODO android:value 要修改为游戏自身的MainActivity的完整路径，如YSDKDEMO的MainAcitiviy路径为com.tencent.tmgp.yybtestsdk.MainActivity -->
        <!-- 如果AndroidManifest.xml配置MainActivity无效，可手动在LaunchActivity的onCreate()中调用YSDKApi.setMainActivity()接口设置游戏的MainActivity
             示例：YSDKApi.setMainActivity("com.tencent.tmgp.yybtestsdk.MainActivity"); -->
        <!-- TODO 此处涉及到游客模式弹窗、悬浮球、宝券等弹窗的实现，要修改为玩家玩游戏的activity -->
        <meta-data
            android:name="MAIN_ACTIVITY"
            android:value="com.juns.sdk.demo.DemoActivity" />

        <!-- TODO GAME SDK接入YSDK初始化配置 END -->

        <!-- TODO GAME SDK QQ接入配置 START -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- TODO GAME android:scheme这里为游戏QQ登录的配置，游戏需要修改为自己手Q的appid，格式为：tencent{your_qq_app_id} -->
                <data android:scheme="tencent1111375718" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO GAME SDK QQ接入配置 END -->

        <!-- TODO GAME SDK 微信接入配置 START -->
        <activity
            android:name="com.tencent.ysdk.module.user.impl.wx.YSDKWXEntryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTop"
            android:taskAffinity="${applicationId}.diff"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <!-- TODO GAME android:taskAffinity这里为游戏微信登录的配置，游戏需要修改为自己的包名加.diff -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- TODO GAME android:scheme这里为游戏微信登录的配置，游戏需要修改为自己的微信appid -->
                <data android:scheme="wx21913216acbf11fd" />
            </intent-filter>
        </activity>
        <!-- TODO GAME "${applicationId}.wxapi.WXEntryActivity，此处的${applicationId}需要修改为游戏自己的包名 -->
        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.tencent.ysdk.module.user.impl.wx.YSDKWXEntryActivity" />
        <!-- TODO GAME 1.4.1之后版本支持微信扫码登录，低于此版本升级的YSDK务必增加此处Activity用于二维码展示 -->
        <activity android:name="com.tencent.ysdk.module.user.impl.wx.qrcode.QRActivity">

        </activity>
        <!-- TODO GAME SDK 微信接入配置 END -->
        <!-- TODO GAME SDK接入免登录接入配置 START -->
        <!-- 注：如果cp以aar形式接入，那么GAME SDK的配置可去掉；如果是以jar形式接入，请务必保留该配置 -->
        <activity
            android:name="com.tencent.ysdk.module.user.impl.freelogin.FreeLoginInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <!-- TODO GAME 这里为解析外部传入的登录信息，为云设备或者沙盒游戏宿主所调用,这里tencentysdk${applicationId}中tencentysdk的后缀是应用包名，如tencentysdkcom.tencent.tmgp.yybtestsdk -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- TODO GAME 注意:这里的applicationId不需要修改！！！ -->
                <data android:scheme="tencentysdk${applicationId}" />
            </intent-filter>
        </activity>
        <!-- TODO GAME SDK接入YSDK登陆接入配置 END -->


        <!-- TODO GAME SDK Midas接入配置 START -->
        <activity
            android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.midas.wx.APMidasWXPayActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.midas.qq.APMidasQQWalletActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwallet100703379" />
                <!-- TODO GAME 这里为米大师的默认配置，游戏不要修改 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- TODO GAME SDK Midas接入配置 END -->

        <!--省流量更新SDK的下载服务须注册-->
        <service
            android:name="com.tencent.tmdownloader.TMAssistantDownloadService"
            android:exported="false"
            android:process=":TMAssistantDownloadSDKService" />

        <!-- TODO 鉴权SDK 接入配置 START -->
        <activity
            android:name="com.tencent.qqdownloader.pay.QQDownloaderEntryActivity"
            android:exported="true" />

        <meta-data
            android:name="YSDK_AUTH_KEY"
            android:value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsKX4kg6T32qn8uHc6j9AwMeQzpUW3hh6o8WiBJi9wlx0pWWRLoqdQuhoUPGpfrdVyt/iEnlvF4fmCkk82bJxXv4x2QRqR4tq3Li5YODzk/xLlQsa3F9nPb+iadqdQJfm6n53ts3uxkApl3gMURuw8SfoFuzuB3mpYHFO+DXQ7BSU2N/+Sdjb6xuOPWHrk9kXSo+h2VTkCwYcpEVC505T0MoA4PtX3GwsO7+lSJrRwuwzXi0eBi5evV57g9WhNnsZLfHTYqC43EGfbj0+/rNXQgz2AfJ78y5jW0am2WMBaO4Sao/acYHu/e+PSqr+fvolmbB1cFLCkCFnF6jBMuk8AQIDAQAB" />
        <meta-data
            android:name="YSDK_AUTH_KEY_VERSION"
            android:value="0" />
        <!-- TODO 鉴权SDK 接入配置 END -->

    </application>
</manifest>
