<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bswhl.jh">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 11-28新增加的2个权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <!-- usesCleartextTraffic兼容9.0不能明文访问http -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/demo_ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="JunS_YXF"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="com.juns.sdk.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- JunS sdk components start -->
        <provider
            android:name="com.juns.sdk.core.sdk.update.JunSFileProvider"
            android:authorities="${applicationId}.JunSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/juns_update_path" />
        </provider>
        <!-- JunS sdk components end -->
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginQuickActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetChoseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.SubAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <!-- 权限管理 -->
        <activity
            android:name="com.game.sdk.ui.mainUI.PermissonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.FloatWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.game.sdk.ui.mainUI.GetInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />

        <!-- provider authorities的值${applicationId}换成你们自己的包名 -->
        <provider
            android:name="com.game.sdk.provider.GameFileProvider"
            android:authorities="${applicationId}.sdkinsapk"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/a_sdk_file_paths" />
        </provider>
        <!--闪屏页-->
        <activity android:name="com.yaoyue.release.YYSplashActivity" android:screenOrientation="landscape"/>
        <meta-data android:name="screenOrientation" android:value="screenOrientation:0"/>
        <meta-data android:name="YG_SPLASH" android:value="YG_SPLASH:0"/>
        <meta-data android:name="YG_APPID" android:value="YG_APPID:200921926002"/>
        <meta-data android:name="SDK_GAMEID" android:value="19638"/>
        <meta-data android:name="SDK_AGENT" android:value="default"/>

    </application>
</manifest>
