<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juns.sdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!-- 需要请求的运行时权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/demo_ic_launcher"
        android:label="JunS_OPPO"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.juns.sdk.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- JunS sdk components start -->
        <provider
            android:name="com.juns.sdk.core.sdk.update.JunSFileProvider"
            android:authorities="${applicationId}.JunSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/juns_update_path" />
        </provider>
        <!-- JunS sdk components end -->

        <activity
            android:name="com.nearme.game.sdk.component.proxy.JumpToProxyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:process=":gcsdk"
            android:theme="@style/Theme_Dialog_Custom" />

        <provider
            android:name="com.heytap.msp.sdk.MspFileProvider"
            android:authorities="${applicationId}.MspFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:process=":gcsdk" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="com.nearme.platform.opensdk.pay.NearMeFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:process=":gcsdk" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.nearme.game.sdk.component.proxy.ProxyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":gcsdk"
            android:theme="@style/Theme_Dialog_Custom" />
        <activity
            android:name="com.oppo.usercenter.opensdk.dialog.register.UserCenterOperateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:process=":gcsdk"
            android:theme="@style/Theme_Dialog_Custom" />
        <activity
            android:name="com.nearme.game.sdk.component.proxy.ExitActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask"
            android:process=":gcsdk"
            android:theme="@style/Theme_Dialog_Custom" />

        <service
            android:name="com.nearme.game.sdk.component.proxy.ProxyApiService"
            android:priority="1000"
            android:process=":gcsdk" />

        <receiver
            android:name="com.nearme.game.sdk.component.proxy.ProxyUserCenterOperateReceiver"
            android:exported="true"
            android:process=":gcsdk" >
            <intent-filter>
                <action android:name="com.oppo.usercenter.account_login" />
                <action android:name="com.oppo.usercenter.account_logout" />
                <action android:name="com.oppo.usercenter.modify_name" />
                <action android:name="com.usercenter.action.receiver.account_login" />
                <action android:name="com.heytap.usercenter.account_logout" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="debug_mode"
            android:value="false" />
        <!-- 调试开关，发布时候设置false -->
        <meta-data
            android:name="is_offline_game"
            android:value="false" />
        <!-- true:单机游戏 false:网游 -->
        <meta-data
            android:name="app_key"
            android:value="9696cc7e22da49b3b3d58507f8932f6d" />
        <!--appKey,务必换成游戏自己的参数 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--9.0及以上设备可能需要 -->


    </application>
</manifest>
