<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bswhl.Lenovo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <queries>
        <package android:name="com.lenovo.lsf" />
        <package android:name="com.lenovo.lsf.user" />
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/demo_ic_launcher"
        android:label="JunS_Lenovo"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">




        <!-- android:theme="@style/com_lenovo_lsf_ui.no_title" -->
        <activity android:name="com.juns.channel.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|smallestScreenSize|fontScale|touchscreen|uiMode|layoutDirection"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="mainAct" android:value="com.juns.sdk.demo.DemoActivity" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PsLoginCommonActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible">
            <intent-filter>
                <action android:name="com.lenovo.lsf.id.action.EMAIL_LOGIN" />
                <action android:name="com.lenovo.lsf.id.action.PHONENUMBER_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PsLoginActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PsLoginPhoneCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="com.lenovo.lsf.id.action.PHONENUMBER_AUTHENCODE_LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.PsUserSettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.AccountBindingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PreAccountBindingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.AccountBindingRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.AccountBindingRegistFinalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.IncludeAreaCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.AccountInfoActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/com_lenovo_lsf_ui.no_title">
            <intent-filter>
                <action android:name="com.lenovo.lsf.lenovoid.action.MYACCOUNT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.ChangePasswordFirstActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="com.lenovo.lsf.lenovoid.action.CHANGEPASSWORD" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.ChangePasswordCompleteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible">
            <intent-filter>
                <action android:name="com.lenovo.lsf.id.action.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneActivitySecondStep"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneActivityThirdStep"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.ServiceProtocolActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByEmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.MyselfInformationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title">
            <intent-filter>
                <action android:name="com.lenovo.lsf.id.action.MY_ACCOUNT_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PwdGuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.UpdateAccountNameActivityStepSecond"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.UpdateAccountNameActivityStepThird"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.UpdateAccountNameActivityStepForth"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.SetSafemailOrBindPhoneNumConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.SetSafemailOrBindPhoneNumActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title">
            <intent-filter>

                <!-- 该action可以提供给三方应用 用以调出激活界面 -->
                <action android:name="com.lenovo.lsf.bindaccount" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordConfirmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordFinalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="adjustPan|stateVisible" />

        <!-- 账号激活 -->
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.ActivationbyPhoneActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_theme_dialog"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>

                <!-- 该action可以提供给三方应用 用以调出激活界面 -->
                <action android:name="com.lenovo.lsf.activation.phone" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.ActivationbyMailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_theme_dialog"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>

                <!-- 该action可以提供给三方应用 用以调出激活界面 -->
                <action android:name="com.lenovo.lsf.activation.mail" />
            </intent-filter>
        </activity>

        <!-- 实名认证 -->
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RealnameAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible|adjustPan">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RealnameAuthSecondActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible|adjustPan">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.IdAuthActivty"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.IdAuthActivtySecond"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.AccountH5InfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.CountryCodeH5Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.SafeQuestionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.EmailRegistedDoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title" />
        <activity
            android:name="com.lenovo.lsf.account.qrcode.ui.CaptureActivity"
            android:permission="com.lenovo.lsf.permission.IDSERVICE"
            android:screenOrientation="portrait"
            android:theme="@style/com_lenovo_lsf_ui">

            <!--
            <intent-filter>
                <action android:name="com.lenovo.lsf.account.QRCODE"></action>

                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.lenovo.lsf.account.qrcode.ui.WebLoginConfirmActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/com_lenovo_lsf_ui" />
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByEmailSecondActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/com_lenovo_lsf_ui.no_title"
            android:windowSoftInputMode="stateVisible|adjustPan">

        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByEmailThirdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustPan">

        </activity>

        <!--
          &lt;!&ndash;修改个人信息_修改地址&ndash;&gt;
          <activity
              android:name="com.lenovo.lsf.lenovoid.ui.UkiAddressActivity"
              android:theme="@style/com_lenovo_lsf_ui.no_title"
              android:screenOrientation="portrait"
              android:permission="com.lenovo.lsf.permission.activity_internal"
              android:configChanges="orientation|keyboardHidden|screenSize"
              android:exported="false">
              <intent-filter>
                  <action android:name="com.lenovo.lsf.account.ADDRESS_CHOOSE"></action>
                  <category android:name="android.intent.category.DEFAULT"></category>
              </intent-filter>
          </activity>

          <activity
              android:name="com.lenovo.lsf.lenovoid.ui.UkiSubAddressActivity"
              android:theme="@style/com_lenovo_lsf_ui.no_title"
              android:screenOrientation="portrait"
              android:configChanges="orientation|keyboardHidden|screenSize">
          </activity>

          &lt;!&ndash;百度插件部分  &ndash;&gt;
          <service
              android:name="com.baidu.location.f"
              android:enabled="true"
              android:process=":remote" >
              <intent-filter>
                  <action android:name="com.baidu.location.service_v2.2" >
                  </action>
              </intent-filter>
          </service>

          &lt;!&ndash; meta-data需要写在application中 &ndash;&gt;
          <meta-data
              android:name="com.baidu.lbsapi.API_KEY"
              android:value="DhNxS47YIr3CNdocGoAcy1ts" />
        -->
        <meta-data
            android:name="lenovo.open.appid"
            android:value="2006121165135.app.ln" />
        <meta-data
            android:name="lenovo.gamesdk.new"
            android:value="3.0.0" />
        <meta-data
            android:name="lenovo:channel"
            android:value="2006121165135.app.ln" />
        <meta-data
            android:name="lenovo:applicationToken"
            android:value="WQMF9HG8J5WZ" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="com.lenovo.login.ui.LgPsLoginCommonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">
        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgFindPasswordActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgFindPasswordConfirmActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgRegistByPhoneActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgRegistByPhoneConfirmActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgStartGameErrorActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgStartLoginingGameActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.login.ui.LgWebViewActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible">

        </activity>
        <activity
            android:name="com.lenovo.game.ui.KeyLoginActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_Title_Dialog"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.lenovo.game.ui.LeGameAcShowActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/lenovo_pay_theme"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.lenovo.game.ui.AdvertisementActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.lenovo.game.ui.FlexibleActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="com.lenovo.game.ui.QuiteActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog">

        </activity>
        <!-- 登录过程界面结束 -->
        <!-- 收银台 begin -->
        <activity
            android:name="com.lenovo.payplussdk.api.PayH5Activity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="behind">

        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:screenOrientation="behind">

        </activity>
        <activity
            android:name="com.lenovo.payplus.ui.PayActionActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/lenovo_theme_dialog">

        </activity>
        <activity
            android:name="com.lenovo.payplus.ui.PayPhoneCardActivity"

            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/lenovo_pay_theme">

        </activity>
    </application>
</manifest>
