<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bswhl.Lenovo">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!--oadi start-->
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <!--oadi end-->
    <!-- pay start -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- pay end -->

    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="JunS_Lenovo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.juns.sdk.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <!-- 登录配置开始 -->
        <meta-data
            android:name="lenovo.open.appid"
            android:value="2006121165135.app.ln" />
        <meta-data
            android:name="lenovo.gamesdk.new"
            android:value="2.8.3" />
        <!-- 在此处填入申请的lenovo open AppID   1410232-134070.app.ln  1703160-552988.app.ln -->
        <!-- 游戏接入时请写申请的openappid；其他应用此处填写该apk的渠道标识，用于某渠道的用户数等指标统计。渠道标识请使用字母和数字组合，不超过64个字符 -->
        <meta-data
            android:name="lenovo:channel"
            android:value="2006121165135.app.ln" />
        <meta-data
            android:name="lenovo:applicationToken"
            android:value="WQMF9HG8J5WZ" />
        <!--登录配置开始 -->
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.KeyLoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_Title_Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.AdvertisementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="standard"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.PsLoginCommonActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|locale|layoutDirection"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog"
            android:windowSoftInputMode="stateVisible" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.StartLoginingGameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.StartGameErrorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistRealAuthActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/lenovo_theme_dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.RegistByPhoneConfirmActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.FindPasswordConfirmActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.WebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label=""
            android:screenOrientation="landscape"
            android:theme="@style/com_lenovo_lsf_ui" >
        </activity>
        <activity
            android:name="com.lenovo.pop.ui.FlexibleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.pop.ui.QuiteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/com_lenovo_lsf_Translucent_NoTitle_Dialog" >
        </activity>
        <activity
            android:name="com.lenovo.lsf.lenovoid.ui.minewebview.HomeHtmlActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.lenovo.lsf.lenovoid.action.ACTION_START_WEB_VIEW"
                    />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--登录过程界面结束 -->
        <service android:name="com.lenovo.lsf.lenovoid.toolbar.AppCheckService" >
        </service>
        <!--登录配置结束 -->
        <!--收银台 begin -->
        <activity
            android:name="com.lenovo.payplussdk.api.PayH5Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.lenovo.payplus.ui.PayActionActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/lenovo_theme_dialog" >
        </activity>
        <activity
            android:name="com.lenovo.payplus.ui.PayPhoneCardActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

    </application>
</manifest>
