<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nznh.js.meta">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/demo_ic_launcher"
        android:label="JunS Demo"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.juns.sdk.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- JunS sdk components start -->
        <provider
            android:name="com.juns.sdk.core.sdk.update.JunSFileProvider"
            android:authorities="${applicationId}.JunSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/juns_update_path" />
        </provider>
        <!-- JunS sdk components end -->
        <activity
            android:name="com.meta.android.mpg.common.api.internal.ui.activity.MpgDialogActivity"
            android:launchMode="singleInstance"
            android:theme="@style/MpgSDKDialogFragmentStyle" />
        <activity
            android:name="com.meta.android.mpg.common.api.internal.ui.activity.MpgRealNameActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />
        <activity
            android:name="com.meta.android.mpg.common.api.internal.ui.activity.MpgWebActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.meta.android.mpg.common.api.MetaEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/MpgTransparentTheme" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.app.PayResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.AlipayResultActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.meta.android.mpg.common.api.MaintainService"
            android:label="MaintainService" />
    </application>
</manifest>
