<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dj.mobile.ywds">

    <application
        android:name="com.juns.sdk.core.api.JunSSdkApplication"
        android:allowBackup="true"
        android:icon="@drawable/demo_ic_launcher"
        android:label="JunS Demo"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/gr_network_security_config"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.juns.sdk.demo.DemoActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- JunS sdk components start -->
        <provider
            android:name="com.juns.sdk.core.sdk.update.JunSFileProvider"
            android:authorities="${applicationId}.JunSFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/juns_update_path" />
        </provider>
        <!-- JunS sdk components end -->
        <!-- SDK begin -->
        <activity
            android:name="com.gaore.mobile.activity.GrWebReActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|smallestScreenSize|locale|screenLayout|screenSize"
            android:screenOrientation="portrait" >

            <!-- 横屏配置:android:screenOrientation="sensorLandscape" -->
            <!-- 竖屏配置:android:screenOrientation="portrait" -->
        </activity>
        <activity
            android:name="com.gaore.mobile.activity.GrCheckPermissionsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|smallestScreenSize|locale|screenLayout|screenSize"
            android:screenOrientation="portrait" >

            <!-- 横屏配置:android:screenOrientation="sensorLandscape" -->
            <!-- 竖屏配置:android:screenOrientation="portrait" -->
        </activity>
        <activity
            android:name="com.gaore.mobile.activity.GrOnlineServiceActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|smallestScreenSize|locale|screenLayout|screenSize"
            android:screenOrientation="portrait" >

            <!-- 横屏配置:android:screenOrientation="sensorLandscape" -->
            <!-- 竖屏配置:android:screenOrientation="portrait" -->
        </activity>

        <service
            android:name="com.gaore.mobile.service.GrVersionUpdateService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dj.mobile.ywds.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <!-- android:authorities="替换成包名.fileprovider" -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gr_file_paths" />
        </provider>

        <!-- SDK end -->
        <!-- 应用ID -->

        <meta-data
            android:name="GAORE_GAME_ID"
            android:value="3899" />
        <meta-data
            android:name="GAORE_APP_KEY"
            android:value="yWpx3hWQHFhSnTCj#3899#6KuRKuaAjLJ5sYRy" />
        <meta-data
            android:name="GAORE_CHANNEL_KEY"
            android:value="GRSDK" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
