<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juns.channel">

    <!-- asus -->
    <uses-permission android:name="com.asus.msa.SupplementaryDID.ACCESS" />
    <!-- freeme -->
    <uses-permission android:name="freemme.permission.msa" />

    <!-- Not recommend using QUERY_ALL_PACKAGES. Use queries Instead. -->
    <!-- <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" /> -->
    <queries>

        <!-- freeme -->
        <package android:name="com.android.creator" />
        <!-- zte -->
        <package android:name="com.mdid.msa" />
        <!-- samsung -->
        <package android:name="com.samsung.android.deviceidservice" />
        <!-- coolpad -->
        <package android:name="com.coolpad.deviceidsupport" />
        <!-- oppo -->
        <package android:name="com.heytap.openid" />
    </queries>

</manifest>